.pv-top-card-v2-section__photo-wrapper {
    width: 158px;
    height: 158px;
    box-sizing: border-box;
    background-clip: content-box;
    border: 0 solid transparent;
    border-radius: 49.9%;
  }
  .pv-top-card-section__photo-wrapper {
    background-color: rgba(243,246,248,.94);
    border: 4px solid #fff;
    box-shadow: inset 0 1.5px 3px 0 rgba(0,0,0,.15), 0 1.5px 3px 0 rgba(0,0,0,.15);
    box-sizing: content-box;
    margin: auto;
    position: relative;
  }
  .pv-top-card-v2-section__edit-photo {
    display: block;
  }
  .pv-top-card-section__edit-photo {
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
  .profile-photo-edit {
    margin: 0 auto;
    position: relative;
    background-color: #e6e9ec;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
  .profile-photo-edit, .profile-photo-edit__preview {
    height: 88px;
    width: 88px;
    border-radius: 50%;
  }
  .profile-photo-edit__edit-btn {
    line-height: 0;
    margin: 0;
    width: 100%;
    height: 100%;
  }
  .profile-photo-edit, .profile-photo-edit__preview {
    height: 88px;
    width: 88px;
    border-radius: 50%;
  }
  img {
    vertical-align: middle;
  }
  img {
    border: 0;
  }
  .pv-top-card-v2-section__edit-photo .profile-photo-edit__preview {
    width: 156px;
    height: 156px;
    margin-left: -34px;
    margin-bottom: -70px;
  }
  .pv-top-card-v2-section__profile-photo-container {
    margin: 40px 0 0 -20px;
  }
  .pv-top-card-section__profile-photo-container {
   
    position: relative;
    width: 200px;
  }
  button {
      background: 0 0;
      border: none;
      padding: 0;
      cursor: pointer;
  }
  
  .pv-top-card-v2-section__profile-photo-container {
    margin: -116px 0 0 -20px;
  }
  .pv-top-card-section__profile-photo-container {
    margin-top: -88px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: 16px;
    position: relative;
    width: 200px;
  }
  
  .pv-profile-wrapper a:visited {
    color: #0073b1;
  }
  .pv-jobs-oc-modal__footer-link:active, .pv-jobs-oc-modal__footer-link:focus, .pv-jobs-oc-modal__footer-link:hover, .pv-profile-wrapper a, .pv-suggested-endorsements__action {
    text-decoration: none;
  }
  
  .mh2, .ml2 {
    margin-left: 8px;
  }
  .t-bold {
    font-weight: 600;
  }
  .user-prof{
    color: #707070;
    font-size: 14px
  }
  
  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
  }
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
  }
  .h3, h3 {
    font-size: 24px;
  }
  
  .experience-black{
    font-size: 24px;
    padding : 30px;
  }
  
  .visually-hidden {
    display: block;
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  .t-16 {
    line-height: 1.5;
    font-size: 18px;
  }
  
  .t-14 {
    font-size: 16px;
    line-height: 1.42857;
  }

  .t-normal {
    font-weight: 200;
    font-size: 16px;
  }
  .t-black {
    color: rgba(0,0,0,.9);
  }
  .t-black--light {
    color: rgba(0,0,0,.6);
  }
  .display-flex {
    display: flex; 
  }
  
  .experience-month{
    font-size: 1.0rem 
  }
  
  .pop-up{
    color: #444444;
    font-weight: normal
  }
  
  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  /* .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  } */
  
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #ffffff;
  }
  
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  
  