
.form-heading { color:#fff; font-size:23px;}
.panel h2{ color:#444444; font-size:18px; margin:0 0 8px 0;}
.panel p { color:#777777; font-size:14px; margin-bottom:30px; line-height:24px;}
.form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 50px; 
}
.main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 5px;
  margin: 10px auto 30px;
  max-width: 32%;
  padding: 50px 20px 50px 20px;
  border: 1px solid #dbdbdb;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
 
}


.form-group {
  margin-bottom:10px;
  
}
.login-form{ 
  text-align:center;
  margin-top: 80px;
}
.forgot a {
  color: #777777;
  font-size: 14px;
  text-decoration: underline;
}
.login-form  .btn.btn-primary {
  background: #ff8a00 none repeat scroll 0 0;
  border-color: #ff8a00;
  border-radius: 4px;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  height: 50px;
  
}
.forgot {
  text-align: left; margin-bottom:30px;
}
.botto-text {
  color: #ffffff;
  font-size: 14px;
  margin: auto;
}
.back { text-align: left; margin-top:10px;}
.back a {color: #444444; font-size: 13px;text-decoration: none;}

.pv-top-card-v2-section__photo-wrapper {
  width: 158px;
  height: 158px;
  box-sizing: border-box;
  background-clip: content-box;
  border: 0 solid transparent;
  border-radius: 49.9%;
}
.pv-top-card-section__photo-wrapper {
  background-color: rgba(243,246,248,.94);
  border: 4px solid #fff;
  box-shadow: inset 0 1.5px 3px 0 rgba(0,0,0,.15), 0 1.5px 3px 0 rgba(0,0,0,.15);
  box-sizing: content-box;
  margin: auto;
  position: relative;
}
.pv-top-card-v2-section__edit-photo {
  display: block;
}
.pv-top-card-section__edit-photo {
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.profile-photo-edit {
  margin: 0 auto;
  position: relative;
  background-color: #e6e9ec;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.profile-photo-edit, .profile-photo-edit__preview {
  height: 88px;
  width: 88px;
  border-radius: 50%;
}
.profile-photo-edit__edit-btn {
  line-height: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
.profile-photo-edit, .profile-photo-edit__preview {
  height: 88px;
  width: 88px;
  border-radius: 50%;
}
img {
  vertical-align: middle;
}
img {
  border: 0;
}
.pv-top-card-v2-section__edit-photo .profile-photo-edit__preview {
  width: 156px;
  height: 156px;
  margin-left: -34px;
  margin-bottom: -70px;
}
.pv-top-card-v2-section__profile-photo-container {
  margin: 40px 0 0 -20px;
}
.pv-top-card-section__profile-photo-container {
 
  position: relative;
  width: 200px;
}
button {
    background: 0 0;
    border: none;
    padding: 0;
    cursor: pointer;
}

.pv-top-card-v2-section__profile-photo-container {
  margin: -116px 0 0 -20px;
}
.pv-top-card-section__profile-photo-container {
  margin-top: -88px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: 16px;
  position: relative;
  width: 200px;
}

.pv-profile-wrapper a:visited {
  color: #0073b1;
}
.pv-jobs-oc-modal__footer-link:active, .pv-jobs-oc-modal__footer-link:focus, .pv-jobs-oc-modal__footer-link:hover, .pv-profile-wrapper a, .pv-suggested-endorsements__action {
  text-decoration: none;
}

.mh2, .ml2 {
  margin-left: 8px;
}
.t-bold {
  font-weight: 600;
}
.t-black {
  color: #707070;
  font-size: 14px
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
}
.h3, h3 {
  font-size: 24px;
}
