.your-connection-box{
    height:300px;
   margin:5px 5px 5px 10px;

    border:1px solid #C4C8C8;
    box-shadow: 1 1px 1px 1 rgba(0, 0, 0, 0.2), 1 1px 1px 1 rgba(0, 0, 0, 0.19);
    text-align: center;
    background-color: #ffffff;
}

.connection-box{
    height:auto;
    margin:5px 40px 5px 10px;
    border:1px solid transparent;
    text-align: center; 
    padding-bottom: 30px;
}

.invitation-box{
    height:200px;
    margin:5px;
    border:1px solid #C4C8C8;
    box-shadow: 1 1px 1px 0 rgba(0, 0, 0, 0.2), 1 1px 1px 1 rgba(0, 0, 0, 0.19);
    text-align: center;
    background-color: #ffffff;
}
.people-box{
    height: 300px;
    border: 1px solid #B6B6B9;
    padding:"0px 5px 0px 5px";
    display: inline-block;
    background-color: #ffffff;
   margin-top: 0px;
}

.search-result-box{
    height: 120px;
    border: 1px solid #B6B6B9;
    padding:"5px";
    display: inline-block;
    background-color: #ffffff;
}

.image-box{
    border:1px solid #E9EEF0;
    height:120px;
    width:120px;
    border-radius: 120px;
    margin:auto;
   margin-left:35px;
   margin-top: 30px;
   text-align: center;
   padding: 0px;
}

.search-image-box{
    border:1px solid #E9EEF0;
    height:100px;
    width:100px;
    border-radius: 100px;
    margin:auto;
    text-align: center;
    padding: 0px;
    top:5px;
}

.search-image-person{
    border:1px solid #E9EEF0;
    height:100px;
    width:100px;
    border-radius: 100px;
    margin:auto;
   overflow: hidden;
}
.image-person{
    border:1px solid #E9EEF0;
    height:120px;
    width:120px;
    border-radius: 120px;
    margin:auto;
   overflow: hidden;
}

.manage-invitation-box{
    height:auto;
    border: 1px solid #C4C8C8;
    margin-top:80px;
    background-color: #ffffff;
    padding-bottom: 50px;
}
.request-result-box{
    height: 120px;
    border-bottom: 1px solid #E6EBEB;
    padding:"5px";
    display: inline-block;
    background-color: #ffffff;
}